<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>364522695859-inshkmdhh0m11gamrhtvsjoklf5h10ig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.364522695859-inshkmdhh0m11gamrhtvsjoklf5h10ig</string>
	<key>API_KEY</key>
	<string>AIzaSyDSroppr9nH2c204f38mJE0dceHjMf6P2Q</string>
	<key>GCM_SENDER_ID</key>
	<string>364522695859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.TLGames.renote</string>
	<key>PROJECT_ID</key>
	<string>renote-f45f1</string>
	<key>STORAGE_BUCKET</key>
	<string>renote-f45f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:364522695859:ios:6e851eec2109a2d80314c6</string>
	<key>DATABASE_URL</key>
	<string>https://renote-f45f1.firebaseio.com</string>
</dict>
</plist>